server:
  addr: :8080
  timeout:
    read: 10s
    write: 10s
    idle: 2m

stockbit:
  base_url: https://exodus.stockbit.com
  tokens:
    theyudiriski: stockbit-token
  webview_tokens:
    - webview-token

telegram:
  bot:
    token: telegram-bot-token

database:
  host: localhost
  port: 5432
  username: postgres
  password: postgres
  db: stock
  scheme: postgres
  max_idle_conns: 10
  max_open_conns: 100
  conn_max_lifetime: 10m
  ssl_mode: disable

redis:
  host: localhost
  port: 6379
  password: 
  db: 

proxy:
  enabled:
    stockbit: false
  scheme: https
  host: gw.dataimpulse.com
  port: 8800
  username: username
  password: password

logger:
  level: info
  format: text  # text or json
