stockbit:
  base_url: https://exodus.stockbit.com
  tokens:
    theyudiriski: eyJhbGciOiJSUzI1NiIsImtpZCI6IjU3MDc0NjI3LTg4MWItNDQzZC04OTcyLTdmMmMzOTNlMzYyOSIsInR5cCI6IkpXVCJ9
  webview_tokens:
    - 892241cc3a06ea71a8f98a362a3797b0066875eda9292f79d4325579c3eea785

database:
  host: localhost
  port: 5432
  username: postgres
  password: postgres
  db: stock
  scheme: postgres
  max_idle_conns: 10
  max_open_conns: 100
  conn_max_lifetime: 10m
  ssl_mode: disable

proxy:
  enabled:
    stockbit: false
  scheme: https
  host: gw.dataimpulse.com
  port: 8800
  username: my-username
  password: my-password

logger:
  level: info
  format: text  # text or json
